{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <style>
    .background {
        background-image: url('{% static "images/banner.jpg" %}');
        height: 400px;
        background-position: center;
{#        width: 100%;#}
        background-size: cover;
        background-repeat: no-repeat;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="background">
        <div style="padding: 120px 220px;">
            <h1 style="color: white; font-size: 64px; font-family: 'Comic Sans MS'">
            myDK
        </h1>
    </div>
    </div>

    </div>
{% endblock %}
