
body {
  background-color: #f1f1f1;
  color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#block-container {
  background-color: #fff;
  height: 100%;
  padding-bottom: 32px;
}

.money {
  color: #219D00;
}
